@model CreditRatingModel.Model.Master 

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";   
    
 }

@*@using (@Html.BeginForm("CourseCategory","Master",FormMethod.Post , new{ id = "frmCourseCategory"}))
{
      *@<div class="row" style="height:50px">
        </div>
        
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"> <label id="lblHeading" class="filter-col control-label labelHead">Course Category Master</label>  </div>
                <div class="panel-body">
                     <fieldset class="scheduler-border">
                       @* <legend class="scheduler-border">
                            <label id="lblStreamMaster" class="filter-col control-label label2"> Stream Master</label>
                        </legend>*@
                         <br/>
                    <div class="row">
                         <div class="col-xs-4">
                                    </div>
                        <div class="col-xs-4">
                         @*   @Html.HiddenFor(model => model.Id)*@
                            <div class="form-group">
                                <label id="lblPanN" class="filter-col control-label label1">Course Category:</label>
                                @Html.TextBoxFor(modelItem => modelItem.CourseCategory, new { @class = "form-control"})                                                           
                            </div>
                        </div>
                          <div class="col-xs-4">
                                    </div>
                    </div>
                                   </fieldset> 
                      <div class="row">
                                <div class="col-xs-5">
                                    </div>
                                    <div class="col-xs-4">
                                        @*<button id="btnSave" type="" name="save"  formmethod="post">Save</button>*@
                                        <input type="button" id="btnSave" value="Save" />
                                        
                                    </div>
                           <div class="col-xs-3">
                               @Html.HiddenFor(model => model.Id)

                                    </div>
                                </div>
                </div>
            </div>
            </div>
@*}*@
<script type="text/javascript">
    
   
    $('#btnSave').click(function () {
        var CourseCategoryid = $("#Id").val();
        var CourseCategory = $('#CourseCategory').val();
        if (CourseCategory == "")
        {
            alert("Please enter Course Category ")

        }
        else {
            debugger
            if ($("#Id").val() == "") {
                CourseCategoryid = 0;
            }
            var CourseCategoryName = $("#CourseCategory").val();
            debugger;
            $.ajax({
                url: '/Master/CourseCategory1/',
                type: 'POST',
                data: { CourseCategoryid: CourseCategoryid, CourseCategoryName: CourseCategoryName },
                success: function (data) {
                    //var a = JSON.stringify(data);
                    debugger;

                    //if (a == "false") {

                    //    alert('Record saved successfully!');
                    //}
                    if (CourseCategoryid == "") {
                        
                        if (data.result == true) {
                            debugger
                            alert('Data saved successfully!');
                            $("#CourseCategory").val('');
                        }
                        else if (data.result == false) {

                            alert('Course Category already Exits!');
                            $("#CourseCategory").val("");
                        }

                    }
                    else {
                        if (data.result == true) {
                            alert('Data saved successfully!');
                            window.location.href = '/Master/ViewCourseCategory';
                        }
                        else if (data.result == false) {

                            alert('Course Category already Exits!');
                            $("#CourseCategory").val("");
                        }

                    }

                }

            });
        }
    });
   
    </script>


