
@model CreditRatingModel.Model.Master
@{
 Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@using (@Html.BeginForm("Nationality", "Master", FormMethod.Post, new { id = "frmNationality" }))
{
        
    <div class="row" style="height: 50px">
    </div>
       
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label id="lblHeading" class="filter-col control-label labelHead">Nationality Master</label>
            </div>
            <div class="panel-body">
                <fieldset class="scheduler-border">
                
                   @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4">
                               <div class="form-group">
                                <label id="lblPanN" class="filter-col control-label label1">Nationality  </label>
                                @Html.TextBoxFor(modelItem => modelItem.nationality, new { @class = "form-control" , @onkeypress = "return  AllowAlphabet(event)"})
                            </div>
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                    
                </fieldset>
                <div class="row">
                    <div class="col-xs-5">
                    </div>
                    <div class="col-xs-4">
                        <button id="btnSave" type="submit" name="save" formmethod="post">Save</button>
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
            
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
            debugger;
            var frmvalidator = new Validator("frmNationality");
            debugger;
            frmvalidator.clearAllValidations();
            frmvalidator.EnableMsgsTogether();
            frmvalidator.addValidation("nationality", "req", "Please Enter  Nationality");
        });
      

             
      
    });

    
</script>
