@model CreditRatingModel.Model.Master

@{
  
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

    @using (@Html.BeginForm("AddStream", "Master", FormMethod.Post, new { id = "frmStream" }))
    {
        
        <div class="row" style="height:50px">
        </div>
        
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"> <label id="lblHeading" class="filter-col control-label labelHead">Stream Master</label>  </div>
                <div class="panel-body">
                     <fieldset class="scheduler-border">
                       @* <legend class="scheduler-border">
                            <label id="lblStreamMaster" class="filter-col control-label label2"> Stream Master</label>
                        </legend>*@
                         <br/>
                    <div class="row">
                         <div class="col-xs-4">
                                    </div>
                        <div class="col-xs-4">
                            @Html.HiddenFor(model => model.Id1)
                            <div class="form-group">
                                <label id="lblPanN" class="filter-col control-label label1">Stream Name:</label>
                                @Html.TextBoxFor(modelItem => modelItem.StreamName, new { @class = "form-control"})                                                           
                            </div>
                        </div>
                          <div class="col-xs-4">
                                    </div>
                    </div>
                                   </fieldset> 
                      <div class="row">
                                <div class="col-xs-5">
                                    </div>
                                    <div class="col-xs-4">
                                        <button id="btnSave" type="submit" name="save"  formmethod="post">Save</button>
                                    </div>
                           <div class="col-xs-3">
                                    </div>
                                </div>
                </div>
            </div>
            </div>
         
                }
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
            debugger;
            var frmvalidator = new Validator("frmStream");
            debugger;
            frmvalidator.clearAllValidations();
            frmvalidator.EnableMsgsTogether();
            frmvalidator.addValidation("StreamName", "req", "Please Enter Stream Name");
        });
    });
   // $(function () {
    $('#StreamName').focusout(function () {
        debugger;
            var StreamName = $('#StreamName').val();
            var Id = $("#Id1").val();
            if ($("#Id1").val() == "") {
                Id = 0;
            }
            $.ajax({

                url: '/Master/doesStream/',
                type: 'POST',
                data: { Id : Id ,StreamName: StreamName },
                success: function (data) {
                   // var a = JSON.stringify(result);
                    //if (a == "false") {
                    //    alert(' That Stream already exits');
                    //    $('#StreamName').val('');
                    //}


                    if (Id == "") {
                        debugger;
                        if (data == "N") {

                            alert('Stream already Exits!');
                            $("#StreamName").val('');


                        }


                    }
                    else {
                        if (data == "N") {
                            alert('Stream already Exits!');
                            //window.location.href = '/Master/ViewUserType';
                            $("#StreamName").val('');
                        }


                    }
                }
            });
       // });
        $(document).ready(function () {
            debugger;
            var k = '@(ViewBag.e)'
        if (k != "") {
            $('#StreamName').val("");
        }

          });
    });
  </script>